<!--
<div id="side-menu">
</div>
-->
<div id="right">
    <header class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item center full">
<!--        <button class="topcoat-icon-button--quiet left off" id="side-menu-button">
                <div class='topcoat-icon icomatic'>listview</div>
            </button>-->
            <button class="topcoat-button--quiet right off" id="finish-button">
                <div class='topcoat-icon icomatic'>checkmark</div>
                Finish
            </button>
            <h1 class="topcoat-navigation-bar__title">Safey check</h1>
        </div>
    </header>
    <div id="content">
        <ol id="locations-list">

        </ol>
    </div>
<!--<div id="messageContents" class="hidden">
        <div class="instructions">
            <div class="bubble">
                <div class="bubble-icon topcoat-icon icomatic">arrowright</div>
                <p id="test">Starting. Please wait...</p>
            </div>
        </div>
    </div>
    <div id="tagContents">
    </div>-->
</div>