<form id="loginForm" action="http://157.145.184.4:58914/Token" method="POST">
    <header><h2><div class='topcoat-icon inline-icon icomatic'>user</div>Login</h2></header>
    <div id="loginError"></div>
    <input name="grant_type" type="hidden" value="password">
    <input name="username" type="text" class="topcoat-text-input" placeholder="user" value=""><br>
    <br>
    <input name="password" type="password" class="topcoat-text-input" placeholder="password" value=""><br>
    <br>
    <button type="submit" class="topcoat-button--large--cta">Submit</button>
</form>